node_modules
/scr_locker_backend/nbproject/private/
scr_locker_backend/nbproject/
/.vscode
.idea/
command_b.bat
helper/sql.js
uploads/*
!uploads/.gitkeep
db_backup/*
!db_backup/.gitkeep
irfan
package-lock.json